/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
}

input {
    border-radius: 3px;
}

.input-invalid {
    border: 2px solid red;
    border-radius: 3px;
}

.form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        width: 50%;
    }
}